.row
	.col-md-12
		.callout.callout-info
			%h4 Bancos
			%p 
				Debes crear un banco por cada combinación
				%code BANCO / USUARIO / CUENTA
			%p
				%a.btn.btn-info{href: new_bank_path}
					Crear banco
					%span.glyphicon.glyphicon-chevron-right
.row
	.col-md-12
		%table.table.table.table-striped
			%tr
				%th ID
				%th Estado
				%th Creación
				%th Banco
				%th Usuario
				%th Cuenta
				%th Depósitos
				%th Rutinas
				%th Acciones
			- @banks.each do |b|
				%tr
					%td
						= link_to b.id, bank_path(id: b.id)
					%td
						- case b.status
							- when "idle", "working"
								%span.glyphicon.glyphicon-refresh{ title: b.status }
							- when "error"
								%span.glyphicon.glyphicon-remove{ title: b.status }
							- when "success"
								%span.glyphicon.glyphicon-ok{ title: b.status }
						= b.status
					%td= b.created_at_datetime.strftime "%Y-%m-%d %H:%M"
					%td= b.name
					%td= b.user
					%td= b.account
					%td= b.deposit_count
					%td= b.routines.length
					%td
						= link_to "Ver", bank_path(id: b.id), method: :post, class: "btn btn-primary btn-xs"
						= link_to "Eliminar", {action: :destroy, id: b.id}, method: :delete, class: "btn btn-danger btn-xs"


- content_for :script do
	:plain
		//hola